<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pim-mappingfunctions-worker-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/92474122-8819-47fb-9a2e-6eb4d75849f0/resourcegroups/M365-Integrations-Test/providers/Microsoft.Web/sites/PIM-MappingFunctions-Worker-Test</ResourceId>
    <UserName>$PIM-MappingFunctions-Worker-Test</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://pim-mappingfunctions-worker-test.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>